* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@font-face {
  font-family: "Space Age";
  src: local("Space Age"), url("/space_age.ttf") format("truetype");
}

.rotate-device-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: white;
  font-size: 1em;
  font-weight: 500;
  z-index: 100;
  padding: 20px;
  text-align: center;
}

body {
  font-family: "Space Age", sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #e6007e;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* GENERAL */
.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  background-color: #111;
}

.ws-info {
  color: white;
  position: absolute;
  font-size: 1.5em;
  font-weight: 500;
}

.health-info {
  top: 10%;
  right: 5%;
}

.score-info {
  top: 20%;
  right: 5%;
}

.countdown-info {
  top: 30%;
  right: 5%;
}

.info-detail {
  color: #e6007e;
}

.device-info {
  position: absolute;
  top: 40%;
  right: 5%;
  font-size: 1em;
  font-weight: 500;
  color: #e6007e;
}

.logo-web-canvas {
  position: absolute;
  bottom: 10%;
  right: 2%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  z-index: 10;
}

/* SCENES */
.scene-container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 100vw;
  height: 100vh;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 120px;
  z-index: 10;
}

.logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
}

/* TOUCH DEVICES (Phone and Tablet) */
.touch-device-controls-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.touch-device-directions {
  position: relative;
  width: 200px; /* Use vh to keep the aspect ratio based on height of the viewport */
  height: 200px; /* Equal width and height */
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #111;
  border-radius: 50%;
  box-shadow: 0 0 6px 0 rgba(26, 26, 26, 0.5);
}

.touch-device-controls-btn {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  transition: border-color 0.2s ease-in-out;
  user-select: none; /* Prevent text selection */
}

.touch-device-controls-btn:active {
  border-color: #e6007e;
}

.icon-btn {
  color: white;
  min-width: 30px; /* Example minimum size */
  min-height: 30px;
}

.up-btn {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.down-btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.left-btn {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.right-btn {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.shoot-btn {
  position: relative;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px 0 rgba(26, 26, 26, 0.5);
  transition: border-color 0.2s ease-in-out;
}

.shoot-btn:active {
  border-color: #e6007e;
}

/* VR */
.enter-vr-btn {
  background-color: #e6007e;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
